<h2>Messages Index</h2>

<div class="message-wrapper">
  <section class="received">
    <h4>Received</h4>
    <table>
      <% @inbox.each do |m| %>
        <tr>
          <td class="message-thumbnail-cell">
            <div class="message-thumbnail" style="background-image:url(<%= asset_path m.user.primary_profile_photo_thumb %>);">
              <%= image_tag 'spacer.gif', class: 'full-width-and-height' %>
            </div>
          </td>
          <td>
            
            <%= m.body %>
          </td>
          <td><%= m.status %></td>
        </tr>
      <% end %>
    </table>
  </section> 

  <section class="received">
    <h4>Sent</h4>
    <table>
      <% @outbox.each do |m| %>
        <tr>
          <td class="message-thumbnail-cell">
            <div class="message-thumbnail" style="background-image:url(<%= asset_path m.user.primary_profile_photo_thumb %>);">
              <%= image_tag 'spacer.gif', class: 'full-width-and-height' %>
            </div>
          </td>
          <td><%= m.body %></td>
          <td><%= m.status %></td>
        </tr>
      <% end %>
    </table>
  </section>  

</div>
