<div class="message-wrapper">
  <div class="messages-title-bar">
    <h2>Messages Index</h2>
  </div>
  
  <nav>
    <ul>
      <li class="selected">All</li>
      <li>Sent</li>
      <li>Received</li>
    </ul>
  </nav>
  <section class="messages-box">
    <table>
      <% @messages.each do |m| %>

        <tr class="inbox-message-row <%= 'unread' if inbound?(m) && unread?(m) %>">
          <td class="message-dir">
            <% if inbound?(m) %>
              <%= fa_icon 'arrow-right' %>
            <% else %>
              <%= fa_icon 'arrow-left' %>
            <% end %>
          </td>
          <td class="message-thumbnail-cell">
            <% if inbound?(m) %>
              <%= image_tag m.user.primary_profile_photo_thumb, class: "message-thumbnail" %>
            <% else %>
              <%= image_tag m.recipient.primary_profile_photo_thumb, class: "message-thumbnail" %>
            <% end %>  
          </td>
          <td>
            <% if inbound?(m) %>
              <h4 class="user-name"><%= m.user.display_name %> would like to kinect with you</h4>
            <% else %>
              <h4 class="user-name">You have sent a request to <%= m.recipient.display_name %></h4>
            <% end %>  
            
            <p class="message-preview"><%= m.body %></p>
          </td>
          <td>
            <!-- I'm pretty sick of nested 'if' statements, so I'm doing this in a more verbose way -->
            <% if m.has_been_accepted? %>
              <%= link_to "Go To Chat", chat_path(m.user), class: 'chat-link' %>
            <% elsif outbound?(m) && m.queued? %>
              Message is Queued.
            <% elsif outbound?(m) %>
              Awaiting Reply.
            <% elsif inbound?(m) && m.accepted? %>
              Go To Chat
            <% elsif inbound?(m) %>
              <%= form_for Permission.new do |p| %>
                <%= p.hidden_field :user_id, value: current_user.id %>
                <%= p.hidden_field :target_user_id, value: m.user.id %>
                <%= p.hidden_field :message_id, value: m.id %>
                <%= p.hidden_field :status, value: 'allowed' %>
                <%= p.submit "Accept", class: 'accept-button' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </section> 

</div>  

