<h2>Chat</h2>
<p>Between <%= current_user.display_name %> and <%= @other_user.display_name %></p>

<div class="full-chat-wrapper" ng-controller="ChatsController as chat" data-sender="<%= current_user.display_name %>" data-receiver="<%= @other_user.display_name %>" data-thumbnail="<%= current_user.primary_profile_photo_thumb %>" data-room-id="<%= get_room_id(current_user, @other_user) %>">
  <ul>
    <li class="chat-message" ng-repeat="msg in chat.messages" ng-class="[chat.fromSelf(msg) ? 'right' : 'left']">
      <img ng-src="{{msg.thumbnail}}" alt="{{msg.sender}}'s photo" class="chat-thumbnail">
      <h4>{{msg.message}}</h4>
      <p>From {{msg.sender}}</p>
      <p style="opacity: 0.7" class="small-and-light">{{ msg.created_at | date:'h:mma, MMMM d yyyy' }}</p>
    </li>
  </ul>

  <form ng-submit="chat.pushMessage()" style="clear: both;">
    <input type="text" id="chat-message-input" ng-model="chat.current_input" placeholder="Type a message">
    <input type="submit">
  </form>
</div>
