<div class="dater-profile-wrapper">
  <div class="first-row">
    <div class="profile-photo-container">
      <%= image_tag @user.primary_profile_photo_thumb %>
    </div>

    <header class="title-area">
      <div class="title-text">
        <h1><%= @user.display_name %></h1>
        <h3>Toronto, ON • 28 Years Old • Woman</h3>
      </div>
      <div class="title-actions">
        <a href="#message-modal">Send a Message</a>
      </div>
    </header>
  </div>
  
  <div class="second-row">
    <div class="about-dater">
      <h2>About This User</h2>

      <h4>Self-Summary</h4>
      <p>Hi :)</p>
      <p>I guess I would describe myself as a homebody, but I do love dining out, museums and movies (horror movies are my favourite!). I’m not really into the club/bar scene, and I don’t drink, but I do love music and dancing. I love to cook...and eat! Indian is by far my favourite and I like a good Cantonese Chowmein or Thai Red Curry! I love long walks, as cliché as that sounds, especially in the Spring or Fall. I could spend all day at a beach, esp if I have a good book. Reading is my go-to… I read anything from Mitch Albom to Veronica Roth. I have zero tolerance for homophobia / sexism / cacomorphobia. I'm terrible at Math! I can't paint to save my life but I love it :) and I think kindness is a really underrated trait.</p>
      <p>I’m really close to my family, I place a lot of value in education, and I try my best to have a positive outlook on any situation :).</p>
      <p>(The Other Ethnicity is: Canadian-Trini / Indo-Caribbean)</p>
      
      <h4>I'm really good at</h4>
      <p>Cooking!<br>dancing<br>left turns :)</p>

      <h4>Favorite books, movies, shows, music and food</h4>
      <p>Movies: Hannibal, Sweet Home Alabama, The Exorcist, The Shining, The Notebook, The Mummy, Fast and Furious, Lord of the Rings, Bad Boys, My Girl, Harry Potter... the list goes on</p>

      <p>Some of my favorite books are: Born Confused, The Mortal Instruments, The Space Between Us, Divergent, The Five People you Meet in Heaven, The Perks of Being a Wallflower etc.</p>

      <p>TV: Suits, Criminal Minds, Game of Thrones, Saving Hope, Orange is the New Black, Master Chef, Catfish *ahem*, Revenge, Once Upon a Time, The Mentalist ...</p>

      <p>I like all types of music ... except Heavy Metal and Rap :P</p>
    </div>

    <div class="quick-stats">
      <h3>Quick Stats</h3>
      <ul>
        <li>
          <div class="stat-label">Last Seen:</div>
          <div class="stat-value">3 days ago</div>
        </li>
        <li>
          <div class="stat-label">Distance:</div>
          <div class="stat-value">2.6km</div>
        </li>
        <li>
          <div class="stat-label">Ethnicity:</div>
          <div class="stat-value">White<br>African/Black</div>
        </li>
        <li>
          <div class="stat-label">Height:</div>
          <div class="stat-value">5'3" (164cm)</div>
        </li>
        <li>
          <div class="stat-label">Body Type:</div>
          <div class="stat-value not-specified">Not Specified</div>
        </li>
        <li>
          <div class="stat-label">Work Industry:</div>
          <div class="stat-value">Agriculture</div>
        </li>
        <li>
          <div class="stat-label">Religion:</div>
          <div class="stat-value">Agnostic</div>
        </li>
        <li>
          <div class="stat-label">Smoker:</div>
          <div class="stat-value">No</div>
        </li>
        <li>
          <div class="stat-label">Drinker:</div>
          <div class="stat-value">Socially</div>
        </li>
        <li>
          <div class="stat-label">Drugs:</div>
          <div class="stat-value">No</div>
        </li>
        
        <li>
          <div class="stat-label">Education:</div>
          <div class="stat-value">College</div>
        </li>
        <li>
          <div class="stat-label">Kids:</div>
          <div class="stat-value">1</div>
        </li>
        <li>
          <div class="stat-label">Pets:</div>
          <div class="stat-value">Cat</div>
        </li>


      </ul>
    </div>
  </div>
</div>

<!-- Message Modal -->
<section class="modal--show message-modal" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <%= form_for @message do |m| %>
    <div class="modal-inner">
      <header id="modal-label"><h3>Send a Message</h3></header>
      <div class="modal-content">
        <%= m.text_area :body, placeholder: 'Send this user a message', "ng-model" => "profile.message.input", maxlength: 200 %>
      </div>
      <footer>
        <div class="character-count">{{200-profile.message.input.length}}</div>
        <%= m.hidden_field :user_id, value: current_user.id %>
        <%= m.hidden_field :recipient_id, value: @user.id %>
        <%= m.submit "Send" %>
      </footer>
    </div>

    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">?</a>
  <% end %>
</section>
