<div class="loading-overlay" ng-if="user.loading">
  <div class="spinner-container"><%= fa_icon 'spinner', class: 'fa-spin' %></div>
</div>

<div class="first-row">
  <div class="profile-photo-container">
    <img ng-repeat="photo in user.profile.profile_photos" ng-src="{{photo.photo_object.rectangle_thumb.url}}"><%= image_tag "default_profile_photo_rect_dark.png" %><%= image_tag "default_profile_photo_rect_dark.png" %><%= image_tag "default_profile_photo_rect_dark.png" %>
    
    <!-- Image Modal -->
    <section class="modal--show message-modal" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
      <div class="modal-inner">
        <div class="modal-content">
          <img ng-src="{{photo.photo_object.url}}" alt="">
        </div>
      </div>

      <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">?</a>
    </section>
  </div>



  <header class="title-area">
    <div class="title-text" ng-cloak ng-class="{editable: user.isMe}">
      <pencil region="title"></pencil>
      <h1>{{user.profile.display_name}}</h1>
      <h3>{{user.profile.birthdate | dateToAge}} year-old {{user.profile.work_industry}} from {{user.profile.city}}, {{user.profile.state}}</h3>
    </div>
    <div class="title-actions" ng-if="!user.isMe">
      <a class="interaction-icon-button message raleway" href="#message-modal">K</a>
      <button class="interaction-icon-button favorite"><%= fa_icon "star" %></button>
      <button class="interaction-icon-button block"><%= fa_icon "ban" %></button>
    </div>
  </header>
</div>

<div class="second-row" ng-show="!user.viewingPhotos">
  <div class="dater-questions">
    <p class="see-all-q"><a class="see-all-q-link" ng-click="user.showAll = true" ng-if="!user.isMe">Show all questions</a></p><h2>Questions</h2>


    <section class="question" ng-repeat="q in user.profile.answers_attributes" ng-show="user.isMe || ($index < 3 || user.showAll)">
      <h4><span ng-click="user.editSection(q.id)">
        <pencil region="subtitle"></pencil>
        {{q.question_body}}
      </span></h4>
      <p class="pre-wrap" ng-class="{cursor: user.isMe}" ng-hide="user.editing === q.id" ng-click="user.editSection(q.id)">{{q.body}}</p>
      <div ng-show="user.editing === q.id">
        <textarea auto-grow ng-model="user.profile.answers_attributes[$index].body" name="self-summary" id="edit-self-summary" class="about-textarea"></textarea>
        <button class="interaction-text-button save" ng-click="user.update()">{{ user.saving ? "Saving..." : "Save" }}</button>
        <button class="interaction-text-button block" ng-click="user.cancelUpdate()">Cancel</button>
      </div>
    </section>
<!--     <section class="about-section" ng-class="{editable: user.isMe}">
      <h4><span ng-click="user.editSection('self_summary')">
        <pencil region="subtitle"></pencil>
        If I could travel anywhere, I'd go to...
      </span></h4>

      <p class="pre-wrap" ng-class="{cursor: user.isMe}" ng-hide="user.editing === 'self_summary'" ng-click="user.editSection('self_summary')">I think Id like to go to France! I hear its lovely this time of year.</p>
      <div ng-show="user.editing === 'self_summary'">
        <textarea auto-grow ng-model="user.profile.self_summary" name="self-summary" id="edit-self-summary" class="about-textarea"></textarea>
        <button class="interaction-text-button save" ng-click="user.update()">{{ user.saving ? "Saving..." : "Save" }}</button>
        <button class="interaction-text-button block" ng-click="user.editSection()">Cancel</button>
      </div>

    </section>
    
    <section class="about-section" ng-class="{editable: user.isMe}">
      <h4><span>
        <pencil region="subtitle"></pencil>
        I'm really good at...
      </span></h4>      
      <p>Cooking!<br>dancing<br>left turns :)</p>
    </section>

    <section class="about-section" ng-class="{editable: user.isMe}">
      <h4><span>
        <pencil region="subtitle"></pencil>
        I've always wanted to...
      </span></h4>      
      <p>Dye my hair purple!</p>
    </section>
 -->
    
  </div>

  <div class="quick-stats" ng-class="{editable: user.isMe}">
    <h3><pencil region="stats"></pencil>Activity</h3>
    <ul>
      <li>
        <div class="stat-label">Join Date:</div>
        <div class="stat-value" ng-if="user.profile.joined_ago">{{user.profile.joined_ago}}</div>
        <div class="stat-value not-specified" ng-if="!user.profile.joined_ago">Not Specified</div>
      </li>
      <li>
        <div class="stat-label">Last Seen:</div>
        <div class="stat-value" ng-if="user.profile.last_seen_ago">{{user.profile.last_seen_ago}}</div>
        <div class="stat-value not-specified" ng-if="!user.profile.last_seen_ago">Not Specified</div>
      </li>
      <li>
        <div class="stat-label">Distance:</div>
        <div class="stat-value" ng-if="user.profile.distance">{{user.profile.distance}}</div>
        <div class="stat-value not-specified" ng-if="!user.profile.distance">Not Specified</div>
      </li>
<!--       <li>
        <div class="stat-label">Ethnicity:</div>
        <div class="stat-value pre-wrap" ng-if="user.profile.eth_string">{{user.profile.eth_string}}</div>
        <div class="stat-value not-specified" ng-if="!user.profile.eth_string">Not Specified</div>
      </li>
      <li>
        <div class="stat-label">Height:</div>
        <div class="stat-value" ng-if="user.profile.height_ft">{{user.profile.height_ft}} ({{user.profile.height_cm}})</div>
        <div class="stat-value not-specified" ng-if="!user.profile.height_ft">Not Specified</div>          
      </li>
      <li>
        <div class="stat-label">Body Type:</div>
        <div class="stat-value" ng-if="user.profile.body_type">{{user.profile.body_type}}</div>
        <div class="stat-value not-specified" ng-if="!user.profile.body_type">Not Specified</div>          

      </li>
 -->      <li>
        <div class="stat-label">Work Industry:</div>
        <div class="stat-value" ng-if="user.profile.work_industry">{{user.profile.work_industry}}</div>
        <div class="stat-value not-specified" ng-if="!user.profile.work_industry">Not Specified</div>          
      </li>
<!--       <li>
        <div class="stat-label">Religion:</div>
        <div class="stat-value" ng-if="user.profile.religion">{{user.profile.religion}}</div>
        <div class="stat-value not-specified" ng-if="!user.profile.religion">Not Specified</div>          
      </li>
      <li>
        <div class="stat-label">Smoker:</div>
        <div class="stat-value" ng-if="user.profile.smoking">{{user.profile.smoking}}</div>
        <div class="stat-value not-specified" ng-if="!user.profile.smoking">Not Specified</div>          
      </li>
      <li>
        <div class="stat-label">Drinker:</div>
        <div class="stat-value" ng-if="user.profile.drinking">{{user.profile.drinking}}</div>
        <div class="stat-value not-specified" ng-if="!user.profile.drinking">Not Specified</div>          
      </li>
      <li>
        <div class="stat-label">Education:</div>
        <div class="stat-value" ng-if="user.profile.education">{{user.profile.education}}</div>
        <div class="stat-value not-specified" ng-if="!user.profile.education">Not Specified</div>          
      </li>
      <li>
        <div class="stat-label">Kids:</div>
        <div class="stat-value" ng-if="user.profile.num_of_kids != null">{{user.profile.num_of_kids}}</div>
        <div class="stat-value not-specified" ng-if="user.profile.num_of_kids == null">Not Specified</div>          
      </li> -->
    </ul>
  </div>
</div>

<div class="photo-row" ng-show="user.viewingPhotos">
  <div class="photo-header">
    <h2>{{user.profile.display_name}}'s Photos</h2>
    <p><a class="return-to-profile" ng-click="user.togglePhotos()"><%= fa_icon 'angle-left' %>&nbsp;&nbsp;&nbsp;Return to Profile</a></p>
  </div>
  <ul>
    <li ng-repeat="photo in user.profile.profile_photos | orderBy:reverse">
      <img ng-src="{{photo.photo_object.url}}" class="full-profile-photo">
      <p ng-if="photo.caption">{{photo.caption}}</p>
    </li>
  </ul>
</div>



<script>
  // These two factories get loaded to manage users.
  <%= render "initial_profile_details.js.erb" %>
  // this factory grabs an array of hashes containing basic information about other matches.
  <%= render "initial_profile_list.js.erb" %>
  
</script>