<div class="footer-spacing"></div>
<footer class="main-footer">
  <div class="line-1">
    <ul>
      <li><%= link_to "About Kinected" %></li><li>
      <%= link_to "Our Blog" %></li><li>
      <%= link_to "Contact Us" %></li><li>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
  <p class="line-2 light-gray"><%= render partial: 'layouts/copyright_notice' %></p>
</footer>