<!DOCTYPE html>
<html>
<head>
  <title>Kinected</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lato|Raleway:700' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper with-sidebar">
  <!-- Sidebar -->
  <aside>
    <h1>Kinected</h1>
    <nav>
      <ul>
        <li>Browse</li>
        <li>Inbox</li>
        <li>Concierge</li>
      </ul>
    </nav>
  </aside>

  <section>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </section>

  <!-- Main content -->

</div>



</body>
</html>
