<!DOCTYPE html>
<html>
<head>
  <title>Kinected</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
<!--   <link href='http://fonts.googleapis.com/css?family=Lato|Raleway:700' rel='stylesheet' type='text/css'>
 -->
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper with-sidebar">

  <%= render partial: 'layouts/mobile_header' %>

  <%= render partial: 'layouts/sidebar' %>

  <section>
    <% if notice && !notice.blank? %>
      <div class="alert alert-success">
        <div class="close"><%= fa_icon "close" %></div>
        <%= notice %>
      </div>
      <div class="alert-spacer" size-spacer-by-alert alert=".alert-success"></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger">
        <div class="close"><%= fa_icon "close" %></div>
        <%= alert %>
      </div>
      <div class="alert-spacer" size-spacer-by-alert alert=".alert-danger"></div>
    <% end %>
<!-- testing alerts
      <div class="alert alert-success"><div class="close"><%= fa_icon "close" %></div>You have successfully logged in!</div>
      <div class="alert-spacer" size-spacer-by-alert alert=".alert-success"></div>
 -->
    <%= yield %>
    

    <%= render partial: 'layouts/footer' %>
    
  </section>
</div>
<!-- Render this partial everywhere on signed-in pages. -->
<%= render partial: 'layouts/update_seen_count' %>
<%= javascript_include_tag 'application' %>


</body>
</html>
